.cigarette-tip {
  border-left: 10px solid #fc0101;
  min-width: 20px;
  height: 100%;
  background-color: #f37070;
  opacity: .7;
  position: absolute;
  top: 0;
  left: 0;
}

/* smoke */
.smoke-container {
  position: relative;
  width: 20px;
  height: 40px;
  overflow: hidden;
  border-radius: 5px;
}

.smoke {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  width: 20px;
  height: 40px;
  background-color: #cccacabe;
  animation: smokeAnimation 1.2s linear infinite;
}

@keyframes smokeAnimation {
  0% {
    top: 100%;
    opacity: 0.7;
  }
  50% {
    top: -50%;
    opacity: 0.3;
  }
  100% {
    top: -100%;
    opacity: 0;
  }
}



